<!DOCTYPE html>
<html lang="en">

<head>
    <title>Empty Page Demo-CSLT Webpage Template</title>
    <!-- <link type="text/css" href="{{ url_for('static', filename='css/common_style.css') }}" rel="stylesheet"
        media="screen"> -->
    <link href="/static/css/common_style.css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="header">
        <div class="header-logo"></div>
        <div class="header-text">
            <p style="font-size:32px;">语音和语言技术团队(CSLT)</p>
            <p style="font-size:20px;">北京信息科学与技术国家研究中心 · 清华大学 BNRist · Tsinghua University</p>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <h1>Empty Page Demo</h1>
            <p>如果你想新建一个html页面，直接copy本页对应的html文件并修改</p>
            <!-- put things here -->
            <div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-text">
            <p> ©2022 清华大学信息国家研究中心语音和语言技术团队</p>
            <p> 地址:北京市海淀区清华大学FIT楼1-303房间</p>
            <p> 电话/传真:010-62796589 邮编:100084 E-mail:cslt@mail.tsinghua.edu.cn</p>
        </div>
    </div>
</body>

</html>