<html style="height:100%">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link href="/static/css/common_style.css" rel="stylesheet" media="screen">
    <link href="/static/css/login_style.css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="header">
        <div class="header-logo"></div>
        <div class="header-text">
            <p style="font-size:32px;">语音和语言技术团队(CSLT)</p>
            <p style="font-size:20px;">北京信息科学与技术国家研究中心 · 清华大学 BNRist · Tsinghua University</p>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div id="bigBox">
                <h1>登录</h1>
                <div class="inputBox">
                    <form action="/login" method="post">
                        <div class="inputText">
                            <input type="text" id="userid" name="userid" placeholder="请输入用户名/昵称" />
                        </div>
                        <div class="inputText">
                            <input type="password" id="password" name="password" placeholder="请输入密码" />
                        </div>
                        <input type="submit" id="login" class="inputButton" value="登录">
                        <button type='button' style="display: inline-block" class="inputButton"
                            onclick="window.location.href='/register'">没有账号？立即注册</button>
                        <div style="color: white; margin-top:40px">{{message}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-text">
            <p> ©2022 清华大学信息国家研究中心语音和语言技术团队</p>
            <p> 地址:北京市海淀区清华大学FIT楼1-303房间</p>
            <p> 电话/传真:010-62796589 邮编:100084 E-mail:cslt@mail.tsinghua.edu.cn</p>
        </div>
    </div>
</body>

</html>